.tree-item {
	margin: 1rem 0;
}

.tree-item__content {
	padding: 0;
}

.tree-item__info {
	padding: 1rem;
	text-align: center;
}

.tree-item__image {
	width: 100%;
	height: 12.5rem;
	margin-right: 1.5rem;
}

.tree-item__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.tree-item__info h2,
.tree-item__info h3,
.tree-item__info p {
	margin: 0 0 0.5rem 0;
}

.tree-item__actions {
	padding: 1rem;
	text-align: center;
	border-top: 1px solid #ccc;
}

.tree-item__modal-content {
	padding: 0;
}

.tree-item__modal-actions {
	text-align: right;
}

.tree-item__actions button,
.tree-item__actions a {
	margin: 0.5rem;
}

.map-container {
	height: 15rem;
	width: 100%;
}

@media (min-width: 768px) {
	.tree-item__image {
		height: 20rem;
	}
}
